h2 {
  margin: 2rem 0;
}

/* narrower card deck */
.card-deck {
  margin-right: -5px;
  margin-left: -5px;
}
.card-deck .card {
  margin-right: 5px;
  margin-left: 5px;
}

/* faux card deck with grid  */
.row {
  margin-right: -5px;
  margin-left: -5px;
}

.col-md-3 {
  padding-right: 5px;
  padding-left: 5px;
}
